ruff
snowflake-connector-python[pandas]
dbt-snowflake
dbt-core
dagster
dagster-webserver
dagster-dbt
dagster-postgres
dagster-snowflake
dagster-snowflake-pandas
dagster-slack
dagster-mysql
great-expectations
pytest
selenium